In [1]:
import re
import nltk
from collections import Counter
import numpy as np
import pandas as pd
import re
from nltk.tokenize import word_tokenize

In [2]:
text = "As i was waiting, a man came out of a side room, and at a glance i was sure he must be long John."

In [3]:
text = text.lower()

text = re.sub(r"a-zA-Z0-9"," ",text)

text = text.split()
print(text)

['as', 'i', 'was', 'waiting,', 'a', 'man', 'came', 'out', 'of', 'a', 'side', 'room,', 'and', 'at', 'a', 'glance', 'i', 'was', 'sure', 'he', 'must', 'be', 'long', 'john.']

In [4]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [5]:
nltk.pos_tag(text)

[('as', 'IN'),
 ('i', 'NN'),
 ('was', 'VBD'),
 ('waiting,', 'WRB'),
 ('a', 'DT'),
 ('man', 'NN'),
 ('came', 'VBD'),
 ('out', 'IN'),
 ('of', 'IN'),
 ('a', 'DT'),
 ('side', 'NN'),
 ('room,', 'NN'),
 ('and', 'CC'),
 ('at', 'IN'),
 ('a', 'DT'),
 ('glance', 'NN'),
 ('i', 'NN'),
 ('was', 'VBD'),
 ('sure', 'JJ'),
 ('he', 'PRP'),
 ('must', 'MD'),
 ('be', 'VB'),
 ('long', 'JJ'),
 ('john.', 'NN')]

Lookup Table

In [6]:
text = ['Bishesh saw Jane.',
       'Jane saw Bishesh.']
print(text)

labels = ["noun verb noun",
          "noun verb noun"]

print(labels)

['Bishesh saw Jane.', 'Jane saw Bishesh.']
['noun verb noun', 'noun verb noun']

In [7]:
#Preprocessing
def preprocess(text_list, labels):
    #convert the list of strings into one string
    text = " ".join(text_list)
    #lowercase the text
    text = text.lower()
    #remove punctuation
    text = re.sub(r"[^a-zA-Z0-9]"," ",text)
    #Tokenize
    tokens = word_tokenize(text)
    
    labels = " ".join(labels)
    labels = labels.lower()
    labels = re.sub(r'[^a-zA-Z0-9]'," ",labels)
    labels = word_tokenize(labels)
    
    return tokens, labels

tokens, labels = preprocess(text,labels)
print("Tokens: \n", tokens)
print("Labels: \n", labels)

Tokens:
 ['bishesh', 'saw', 'jane', 'jane', 'saw', 'bishesh']
Labels:
 ['noun', 'verb', 'noun', 'noun', 'verb', 'noun']

In [8]:

def count(tokens, labels):
    cnt = Counter()
    for i_word, i_label in zip(tokens, labels):
        if (i_word, i_label) in cnt:
            cnt[(i_word, i_label)] += 1
        else:
            cnt[(i_word, i_label)] = 1
    return cnt

cnt = count(tokens, labels)
cnt

Counter({('bishesh', 'noun'): 2, ('saw', 'verb'): 2, ('jane', 'noun'): 2})

In [9]:
df = pd.DataFrame(np.zeros((len(np.unique(tokens)), len(np.unique(labels)))))
df.columns = list(np.unique(labels))
df.index = list(np.unique(tokens))
df

         noun  verb
bishesh   0.0   0.0
jane      0.0   0.0
saw       0.0   0.0

In [10]:
#updating the values in out dataframe
for i in list(cnt.items()):
    #get the corresponding word
    word = i[0][0]
    #get the corresponding tag
    label = i[0][1]
    df[label][word] = i[1]
df

         noun  verb
bishesh   2.0   0.0
jane      2.0   0.0
saw       0.0   2.0

Using Bigrams

In [11]:
text = [
    'Bishesh will see Jane.',
    'Jane will see Mary.',
    'WIll will see Bishesh.'
]

print(text)
labels = [
    "noun  model verb noun",
    "noun model verb noun",
    "noun model verb noun"
]
print(labels)

['Bishesh will see Jane.', 'Jane will see Mary.', 'WIll will see Bishesh.']
['noun  model verb noun', 'noun model verb noun', 'noun model verb noun']

In [12]:
def preprocess(text_list, labels):
    text = " ".join(text_list)
    text = text.lower()
    text = re.sub(r"[^a-zA-Z0-9]"," ", text)
    tokens = word_tokenize(text)
    
    labels = " ".join(labels)
    labels = labels.lower()
    labels = re.sub(r"[^a-zA-Z0-9]"," ", labels)
    label = word_tokenize(labels)
    return tokens, label

tokens, labels = preprocess(text, labels)
print("Tokens: \n", tokens)
print("labels: \n", labels)

Tokens:
 ['bishesh', 'will', 'see', 'jane', 'jane', 'will', 'see', 'mary', 'will', 'will', 'see', 'bishesh']
labels:
 ['noun', 'model', 'verb', 'noun', 'noun', 'model', 'verb', 'noun', 'noun', 'model', 'verb', 'noun']

In [13]:

def bigram(tokens):
    bigram = list(nltk.bigrams(tokens))
    return bigram

tokens_bigram = bigram(tokens)
labels_bigram = bigram(labels)
print("Tokens Bigram: \n", tokens_bigram)
print("labels BIgram: \n", labels_bigram)

Tokens Bigram:
 [('bishesh', 'will'), ('will', 'see'), ('see', 'jane'), ('jane', 'jane'), ('jane', 'will'), ('will', 'see'), ('see', 'mary'), ('mary', 'will'), ('will', 'will'), ('will', 'see'), ('see', 'bishesh')]
labels BIgram:
 [('noun', 'model'), ('model', 'verb'), ('verb', 'noun'), ('noun', 'noun'), ('noun', 'model'), ('model', 'verb'), ('verb', 'noun'), ('noun', 'noun'), ('noun', 'model'), ('model', 'verb'), ('verb', 'noun')]

In [14]:
#count the  bigram

def bigram_count(tokens, labels):
    #initialize the counter
    cnt = Counter()
    for i_word, i_labels in zip(tokens, labels):
        if (i_word, i_labels) in cnt:
            cnt[(i_word, i_labels)] += 1
        else:
            cnt[(i_word, i_labels)] = 1
    return cnt

bigram_counter = bigram_count(tokens_bigram,labels_bigram)
bigram_counter

Counter({(('bishesh', 'will'), ('noun', 'model')): 1,
         (('will', 'see'), ('model', 'verb')): 3,
         (('see', 'jane'), ('verb', 'noun')): 1,
         (('jane', 'jane'), ('noun', 'noun')): 1,
         (('jane', 'will'), ('noun', 'model')): 1,
         (('see', 'mary'), ('verb', 'noun')): 1,
         (('mary', 'will'), ('noun', 'noun')): 1,
         (('will', 'will'), ('noun', 'model')): 1,
         (('see', 'bishesh'), ('verb', 'noun')): 1})

In [15]:
word_names = ["-".join(i[0][0]) for i in list(bigram_counter.items())]
print("Word names: \n", word_names)

label_names = ["-".join(i[0][1]) for i in list(bigram_counter.items())]
print("Label names: \n", label_names)

Word names:
 ['bishesh-will', 'will-see', 'see-jane', 'jane-jane', 'jane-will', 'see-mary', 'mary-will', 'will-will', 'see-bishesh']
Label names:
 ['noun-model', 'model-verb', 'verb-noun', 'noun-noun', 'noun-model', 'verb-noun', 'noun-noun', 'noun-model', 'verb-noun']

In [16]:
#updating the values in out dataframe
df = pd.DataFrame(np.zeros((len(np.unique(word_names)),len(np.unique(label_names)))))

In [17]:
df.index = np.unique(word_names)
df.columns = np.unique(label_names)
df

              model-verb  noun-model  noun-noun  verb-noun
bishesh-will         0.0         0.0        0.0        0.0
jane-jane            0.0         0.0        0.0        0.0
jane-will            0.0         0.0        0.0        0.0
mary-will            0.0         0.0        0.0        0.0
see-bishesh          0.0         0.0        0.0        0.0
see-jane             0.0         0.0        0.0        0.0
see-mary             0.0         0.0        0.0        0.0
will-see             0.0         0.0        0.0        0.0
will-will            0.0         0.0        0.0        0.0

In [18]:
for i in zip(bigram_counter.items()):
    word = "-".join(i[0][0][0])
    label = "-".join(i[0][0][1])
    #update
    df[label][word] = i[0][1]
df

              model-verb  noun-model  noun-noun  verb-noun
bishesh-will         0.0         1.0        0.0        0.0
jane-jane            0.0         0.0        1.0        0.0
jane-will            0.0         1.0        0.0        0.0
mary-will            0.0         0.0        1.0        0.0
see-bishesh          0.0         0.0        0.0        1.0
see-jane             0.0         0.0        0.0        1.0
see-mary             0.0         0.0        0.0        1.0
will-see             3.0         0.0        0.0        0.0
will-will            0.0         1.0        0.0        0.0